@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Tags and General Classes */
/* * {
  outline: 1px solid red;
} */

html {
  scroll-behavior: smooth;
  margin: 0;
}

body {
  background-color: var(--primary-color);
  color: var(--accent-color);
  font-family: var(--font-main);
  font-size: 100%;
  max-width: 100%;
  padding: 0;
  margin: 0;
}

.body-container {
  margin: var(--margins);
  max-width: 100%;
}

html,
body,
.body-container {
  overflow-x: hidden;
  overscroll-behavior-y: none;
}

body.preload * {
  animation-duration: 0s !important;
  -webkit-animation-duration: 0s !important;
  transition: background-color 0s, opacity 0s, color 0s, width 0s, height 0s,
    padding 0s, margin 0s !important;
}

section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* border: 2px solid blue; */

  min-height: 100vh;
  margin: 20vh 20px;
  padding: 10vh 0;
  font-size: max(0.5rem, 1.2vmax);
  overflow: visible;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 100%;
  height: 7vmax;
  background: var(--secondary-color);
  color: var(--secondary-accent-color);
  font-family: var(--font-main);
  font-size: 1.2vmax;
  box-shadow: 0px 10px 20px 5px black;
  padding: 2vmax 0;
}

.text {
  height: fit-content;
}

.section-header-left {
  opacity: 0;
  filter: opacity(0%) blur(1px);
  transition: ease-out all 0.1s;
}

.section-header-right {
  opacity: 0;
  filter: opacity(0%) blur(1px);
  text-align: end;
  transition: ease-out all 0.1s;
}

.btn {
  color: rgb(94, 94, 94);
}
.btn:hover {
  color: white;
}

.deactivate-cursor {
  pointer-events: none;
  cursor: none;
}

.noselect {
  /* Remove text selection highlighting */
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}


/* Introduction */
#intro {
  display: grid;
  position: relative;
  place-items: center;
  align-content: center;
  height: 100vh;
  margin: 0px 10vw 40vh 10vw;
}


#hello-text {
  position: relative;
  right: 16vw;
  white-space: nowrap;
  font-size: max(1.4rem, 2.2vmax);
  font-weight: 300;
}

#wave {
  /* Logic adopted from https://codepen.io/jakejarvis/pen/pBZWZw */
  animation-name: wave-animation;
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

#my-name-is-text {
  position: relative;
  right: 8vw;
  white-space: nowrap;
  font-size: max(1.5rem, 2.2vmax);
  font-weight: 300;
}

#name-text {
  position: relative;
  white-space: nowrap;
  font-size: max(3rem, 4vmax);
  font-weight: 400;
}

#sub-name-text {
  position: relative;
  top: 3vh;
  white-space: nowrap;
  font-style: oblique 20deg;
  font-size: max(1rem, 1.2vmax);
  font-weight: 200;
  margin: 0.8vmax 0;
}

#btn-outline-to-home {
  position: relative;
  top: 2vh;
  color: rgb(130, 174, 228);
  font-size: max(1.2rem, 1.3vmax);
  font-weight: 300;
  border: 0.2vmax solid rgb(134, 134, 134) !important;
  padding: 0.5vmax;
  border-radius: 1vmax;
}


/* Pictures */
.pics-container {
  position: relative;
  overflow: visible;
  min-height: 30vmax;
  height: min(30rem, 70vmax);
}

#pic-one { /* Pictures Group 1 */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  /* transition-delay: 400ms; */
}
#pic-two {
  position: absolute;
  bottom: 20%;
  left: 15%;
  z-index: 1;
  /* transition-delay: 600ms; */
}
#pic-three {
  position: absolute;
  bottom: 0;
  left: 5%;
  /* transition-delay: 800ms; */
}

.image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  border: 1px solid rgb(36, 93, 87);
  border-radius: 2px;
  background-color: azure;
  padding: 0.5em;
  color: #d9480f;
  height: fit-content;
  width: fit-content;

  position: relative;
  overflow: visible;
  transition: ease all 0.5s;
}

.image > img {
  border: 1px solid black;
  background-color: rgb(222, 222, 222);
  min-width: 12vmax;
  max-width: min(10rem, 20vmax);
  min-height: 12vmax;
  max-height: min(10rem, 20vmax);
  margin: 0 0 2em 0;
}

.image-view, .image:hover {
  scale: 110%;
  transition: ease all 0.5s;
  z-index: 3;
}



/* Music */
#spotify-playlist {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 0.5em;

  border-radius: 0.8vmax;
  text-decoration: none;
  background: linear-gradient(180deg, #1ebc55, #271f1f);
  box-shadow: 0px 0px 10px 0px #0a2b15, inset 0px 0px 10px 0px #0a2b15;
  width: fit-content;
  height: fit-content;
  overflow: auto;
  margin: 10px 0px 10px 15px;
  padding: 0.6em;
  transition: ease all 0.5s;
}

#playlist-img {
  place-self: center;
  box-shadow: 0px 0px 0.8vmax 0.1vmax black;
  border-radius: 0.5vmax;
  width: 3em;
  height: 3em;
  color: white;
  transition: ease-in-out all 0.3s;
}

#playlist-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0px;
  place-self: center;
  overflow: hidden;
  width: fit-content;
  
  color: white;
  margin: 0;
  padding: 0;
  transition: ease all 0.3s;
}

#playlist-top-row {
  transition: ease all 0.3s;
}

#playlist-name {
  width: fit-content;
  font-size: 1.5vmax;
}

#playlist-tag {
  width: auto;
  font-size: 0.8vmax;
  color: rgb(175, 175, 175);
  padding: 0 6px 0 0;
}

#playlist-subheading {
  color: rgba(185, 255, 243, 0.941);
  font-size: 0.8vmax;
  white-space: nowrap;
  animation: scrolling-text 6s linear infinite;
}

.bi-spotify {
  place-self: center;
  margin: 0 0 0 2em;
  transition: ease-in-out all 0.3s;
}

#spotify-playlist:hover {
  translate: 0 -2px;
  transition: ease all 0.5s;
}

#spotify-playlist:hover #playlist-img {
  scale: 95%;
  transition: ease-in-out all 0.3s;
}

#spotify-playlist:hover #playlist-top-row {
  translate: 6px 0;
  color: rgb(35, 210, 169);
  transition: ease all 0.3s;
}

#spotify-playlist:hover .bi-spotify {
  translate: 0 -2px;
  fill: rgb(35, 210, 169);
  transition: ease-in-out all 0.3s;
}



/* Projects */
#projects-carousel {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  border-radius: 1vmax;
  box-shadow: 0.3vmax 0 0.9vmax -0.2vmax black;
  height: max(30rem, 30vmax);
}

.carousel-control-prev-icon, .carousel-control-next-icon{
  /* background-color: var(--ternary-color); */
  border-radius: 1vmax;
  padding: 10px;
}

#project-details {
  background-color: var(--ternary-color);
  border-radius: 1vmax;
  height: calc(max(30rem, 30vmax) - 0.5vmax);
  transform: translateX(-10%);
  padding: 0 0 0 5%;
  z-index: -1;
  transition: filter 1s ease, opacity 0.5s ease;
}

#project-details.blur {
  filter: blur(5px);
  opacity: 0;
}



.navbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 1vmax;
  width: 100%;
  height: fit-content;  
  padding: 0 1vmax;
  z-index: 2; /* Must remain above the tabs container layer */
}


/* Icons */
#icons-container {
  display: flex;
  gap: max(10px, 0.5vmax);
  min-width: 10vw;
  width: auto;
  height: auto;
}

.icon {
  display: flex;
  align-items: center;
  position: relative;
  border-radius: max(40px, 3vmax);
  background: #222;
  opacity: 90%;
  
  width: fit-content;
  height: fit-content;
  padding: max(15px, 0.8vmax) max(15px, 0.8vmax) max(15px, 0.8vmax) max(10px, 0.5vmax);
  transition: ease all 0.5s;
}

.icon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #222; /* Static background color */
  border-radius: inherit;
  z-index: 1;
}

.icon::after {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  background: linear-gradient(
    45deg,
    hsl(275, 86%, 45%),
    hsl(275, 77%, 61%),
    hsl(269, 85%, 66%),
    hsl(314, 85%, 66%),
    hsl(359, 85%, 66%),
    hsl(44, 85%, 66%),
    hsl(179, 85%, 66%),
    hsl(89, 85%, 66%),
    hsl(134, 85%, 66%),
    hsl(277, 66%, 55%),
    hsl(299, 71%, 44%),
    hsl(328, 87%, 52%)
  );
  background-size: 300% 300%;
  /* background-position: 0 50%; */
  border-radius: inherit;
  transition: opacity 0.3s;
  opacity: 0;
  z-index: -1; /* Ensure the gradient is behind the content */
}

.icon:hover {
  scale:110%;
  transition: ease all 0.5s;
}

.icon:hover::after {
  opacity: 1;
  animation: moveGradient 4s alternate infinite;
}

.icon:hover .icon-img {
  filter: invert(0%);
}

.icon :hover .icon-text {
  filter: invert(0%);
}

.icon-img {
  filter: invert(50%);
  z-index: 2;
  width: max(1rem, 2vmax);
  height: max(1rem, 2vmax);
}

.icon-text {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
  font-size: max(0.5rem, 1.2vmax);
  padding: 0 0 0 10px;
  transition: ease all 0.5s;
  z-index: 1;
}

.hidden {
  display: none !important;
}



/* Contact Me Button */
#contact-me-button {
  border-radius: 0.6vmax;
  color: white;
  font-size: max(0.5rem, 1.2vmax);
  max-width: fit-content;
  max-height: fit-content;
  text-wrap: nowrap;
  transition: ease all 0.5s;
  padding: 0.8vmax;
}

#contact-me-button:hover {
  scale: 110%;
  color: ivory;
  transition: ease all 0.5s;
}

.offcanvas {
  --bs-offcanvas-width: 25%;
  box-shadow: 5px -5px 30px -15px black inset;
  background-color: var(--ternary-color);
  color: var(--ternary-accent-color);
}

.offcanvas-title {
  text-align: center;
}

.offcanvas-fields {
  display: inline-block;
}

#offcanvas-fields-link {
  text-decoration: none;
  color: var(--ternary-accent-color);
}

#offcanvas-fields-link:hover {
  opacity: 70%;
}



/* Tabs */
#tabs-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: space-around;

  position: fixed;
  bottom: 0;
  right: 0;
  min-width: fit-content;
  width: 10vmax;
  height: 100%;

  opacity: 60%;
  z-index: 1;
  overflow: hidden;
  border: none;
}

.tab {
  padding: 2vmax 0;
  color: var(--accent-color);
  font-size: 1.2vmax;
  border: none;
  height: fit-content;
}

.arrow {
  color: var(--accent-color);
  border: none;
}

.unselected-tab {
  color: rgb(94, 94, 94);
  transition: ease all 0.3s;
}

.unselected-tab:hover {
  color: white;
  scale: 110%;
}

.selected-tab {
  color: white;
}



/* Animations */
@keyframes wave-animation {
  /* Animation for the hand wave */
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(14deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  33% {
    transform: rotate(10deg);
  }
  41% {
    transform: rotate(-8deg);
  }
  50% {
    transform: rotate(8deg);
  }
  60% {
    transform: rotate(-4deg);
  } /* Reset for the last half to pause */
  70% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}

/* Letter by letter animation */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes typingReverse {
  0% {
    width: auto; /* Start with full width */
    opacity: 1; /* Fully visible */
  }
  100% {
    width: 0; /* Collapse width to 0 */
    opacity: 0; /* Fade out */
  }
}

@keyframes scrolling-text {
  0% {
    transform: translateX(100%); /* Start off-screen on the right */
  }
  10% {
    transform: translateX(101%); /* Delay at the start */
  }
  90% {
    transform: translateX(-100%); /* Scroll to the left */
  }
  100% {
    transform: translateX(-100%); /* Delay at the end */
  }
}




.hidden-left {
  overflow-x: hidden;
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.hidden-right {
  overflow-x: hidden;
  opacity: 0;
  filter: blur(5px);
  transform: translateX(100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.hide-tabs {
  opacity: 0;
  filter: opacity(0%) blur(1px);
  transition: all 0.3s;

  /* Make the tabs inactive */
  pointer-events: none;
  cursor: none;
}

.show-tabs {
  opacity: 1;
  filter: opacity(100%) blur(0);

  /* Make the tabs active */
  pointer-events: auto;
  cursor: pointer;
}



/*** Media Queries ***/

/* Reduce motion */
@media (prefers-reduced-motion) {
  .hidden-left {
    transition: none;
  }
  .hidden-right {
    transition: none;
  }
  .hide-tabs {
    transition: none;
  }
}


/* Adjust image locations */
@media (max-width: 450px) {
  .pics-container > div:nth-child(even) {
    left: 0 !important;
    transition: ease all 0.5s;
    position: absolute;
  }
}


/* Collapse tabs */
@media (max-width: 600px) {
  #tabs-container {
    opacity: 0;
    visibility: hidden;
  }

  .section-header-left {
    opacity: 1;
    filter: opacity(100%) blur(0);
    transition: ease-in all 0.5s;
  }

  .section-header-right {
    opacity: 1;
    filter: opacity(100%) blur(0);
    transition: ease-in all 0.5s;
  }
}


/* Collapse icons */
@media (max-width: 800px) {
  .icon {
    padding: 10px 10px;
    transition: ease all 0.5s;
  }

  .icon-text {
    opacity: 0;
    visibility: hidden;
    width: 0;
    padding: 0;
  }

  .icon-img {
    filter: invert(100%);
    transition: ease-out all 1s;
  }

  .icon:hover .icon-img {
    transition: ease-out all 0.5s;
  }

  .text-section {
    padding: 20px 10px;
  }

  .expanded .icon-text {
    opacity: 1;
    visibility: visible;
    width: auto;
    padding: 0 5px;
    transition: ease all 0.5s;
    /* transition: opacity 0.5s ease, width 0.5s ease; */
    animation: typing 0.5s steps(50) forwards; /* Typing effect */
  }

  .expanded .icon-img {
    transition: ease all 0.5s;
  }

  .icon-text.hidden {
    animation: typingReverse 0.5s steps(100) forwards; /* Apply reverse typing animation on close */
    opacity: 0;
    overflow: hidden;
    transition: ease all 0.5s;
  }

  .expanded .icon {
    /* transition: width 0.5s ease, padding 0.5s ease; */
    transition: ease all 0.5s;
  }
}


/* Touchscreen devices */
@media (hover: none) {
  .icon.expanded::after {
    opacity: 1;
    animation: moveGradient 4s alternate infinite;
  }

  .icon.expanded .icon-text {
    filter: invert(100%);
  }
}



/* Variables */
:root {
  --margins: 0;
  --primary-color: #221D30;
  --secondary-color: #141824;
  --ternary-color: #797385;
  --accent-color: #ffdce2;
  --secondary-accent-color: #b7cccb;
  --ternary-accent-color: white;
  --white-color: #ffffff;
  --font-main: "Poppins", sans-serif;
  --font-weight-light: 300;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --border-anim-color-1: #052b2f;
  --border-anim-color-2: #073438;
  --border-anim-color-3: #0e4b50;
  --border-anim-color-4: #2d8f85;
  --border-anim-color-5: #637c54;
}
